:root {
  --max-width-content: 900px;
}

@media only screen and (orientation: landscape) {
  html {
    background: black;
  }
  body {
    display: none;
  }
}
@media (hover: hover) and (pointer: fine) {
  html {
    background: none;
  }
  body {
    display: block;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
  height: 100%;
}

main {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
}
header {
  text-align: center;
  background: #fb6542;
  padding: 1em;
  color: #fff;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 2.2em;
  max-width: var(--max-width-content);
  margin: auto;
}

.install {
  border: none;
  outline: none;
  background: none;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  display: flex;
}

.install img {
  padding: 10px;
}

.install.hidden {
  display: none;
}

.result {
  display: grid;
  grid-template-areas:
        "resultMessage resultMessage resultMessage"
        "humanResult vs computerResult"
        "humanScore reset computerScore";
  grid-template-columns: 1fr auto 1fr;
  max-width: var(--max-width-content);
  margin: auto;
  width: 100%;
}
.currentResult {
  grid-area: resultMessage;
  font-size: 3em;
  font-weight: 900;
  animation-duration:0.5s;
  animation-name: slidein;
}
.humanScore { grid-area: humanScore; }
.humanResult { grid-area: humanResult; }
.computerScore { grid-area: computerScore; }
.computerResult { grid-area: computerResult; }
.vs {
  grid-area: vs;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 900;
}
.vs span {
  margin: 0 8px;
}

.resultIcons,
.currentResult {
  display: flex;
  justify-content: center;
}

.humanScore,
.computerScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  margin-top: 1em;
}
.humanScore .data,
.computerScore .data {
  font-size: 2.2em;
}

.reset {
  grid-area: reset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset button {
  outline: none;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 6px;
  box-shadow: -2px -2px 4px rgb(0 0 0 / 10%), 2px 2px 4px rgb(0 0 0 / 25%);
  display: flex  ;
  justify-content: center;
  align-items: center;
}

.round-container {
  box-shadow: -2px -2px 4px rgb(0 0 0 / 10%), 2px 2px 4px rgb(0 0 0 / 25%);
}

.round-state {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: var(--max-width-content);
  margin: auto;
  font-size: 1.3em;
  padding: 7px 0;
}

.round-state p {
  margin: 0;
  padding: 0;
}

.best-score {
  display: flex;
  align-items: center;
}

.best-score button {
  border: none;
  outline: none;
  background: none;
  display: flex;
  justify-content: center;
}
.best-score button img {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.ui {
  padding: 1em;
  background: #fb6542;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.ui .ui-container {
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
  padding: 1em;
  max-width: var(--max-width-content);
  margin: auto;
}
.ui .icon-container {
  display: flex;
  justify-content: center;
}

.ui .icon-container button {
  border-radius: 50%;
  outline: none;
  padding: 1.1em;
  border: none;
  box-shadow: -2px -2px 4px rgb(0 0 0 / 10%), 2px 2px 4px rgb(0 0 0 / 25%);
  max-width: 70px;
}

@keyframes slidein {
  from {
    max-height: 0px;
    transform: scale(0);
    opacity: 0;

  }
  to {
    max-height: 1000px;
    transform: scale(1);
    opacity: 1;
  }
}
